[Unit]
Description=Mitgliederverwaltung Django Application
After=network.target
Wants=network.target

[Service]
Type=notify
User=pi
Group=www-data
WorkingDirectory=/home/pi/mitgliederverwaltung
Environment="PATH=/home/pi/mitgliederverwaltung/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=mitgliederverwaltung.settings"
ExecStart=/home/pi/mitgliederverwaltung/venv/bin/gunicorn --config gunicorn.conf.py mitgliederverwaltung.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
